<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
    <link type="text/css" rel="stylesheet" th:href="@{css/style.css}" />
</head>

<body>

<h3>Upload File:</h3>



<form th:object="${myUploadForm}" method="POST"
      action="" enctype="multipart/form-data">
    Description:
    <br>
    <input th:field="*{description}" style="width:300px;"/>
    <br/><br/>
    File to upload: <input th:field="*{fileDatas}" type="file"/>
    <br />
    <input type="submit" value="Upload">
</form>

</body>
</html>