<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload Result</title>
    <link type="text/css" rel="stylesheet" th:href="@{css/style.css}" />
</head>

<body>


Description: <span th:utext="${description}"></span>
<br/>
<h3 style="color:green;">Uploaded Files:</h3>

<ul th:each="file : ${uploadedFiles}">
    <li style="color:green;" th:utext="${'Your URL is http://localhost:8080/upload/' + file}"></li>
</ul>
Copy & Paste this URL into Image URL field.

<h3>Failed:</h3>
<ul th:each="file : ${failedFiles}">
    <li style="color:red;" th:utext="${file}"></li>
</ul>

</body>

</html>